.u-section-1 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-1 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/ishl.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 46px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-1 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/aks.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 46px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 21px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-1 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/05bed9cab3224992beddacc1838e159c.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 46px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-1 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-1 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 396px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 316px;
  margin: 47px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 29px auto 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0 10px;
}

.u-section-2 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/ishl.jpg");
  background-position: 50% 50%;
  margin: -310px 33px 53px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 444px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 331px;
  margin: 40px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 28px auto 0 10px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 10px;
}

.u-section-3 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/aks.jpg");
  background-position: 50% 50%;
  margin: -294px auto 60px 28px;
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 442px;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 331px;
  margin: 50px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 28px auto 0 11px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin-bottom: 0;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 55px auto 0 50px;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/05bed9cab3224992beddacc1838e159c.png");
  background-position: 50% 50%;
  margin: -310px 50px 20px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-bottom: -13px;
  }
} .u-section-5 {
  min-height: 588px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-5 .u-image-1 {
  min-height: 588px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/eso0936a.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 484px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-5 .u-image-1 {
    min-height: 485px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 371px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 371px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 278px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 835px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 175px;
  }

  .u-section-5 .u-image-1 {
    min-height: 526px;
  }
}